
<button mat-button color="accent">
  <mat-icon aria-hidden="false" aria-label="Example home icon" class="icons">home</mat-icon>
</button>
<button mat-button color="accent">Characters</button>

<!--------------------------------------------------------------------------------------------------------------->

<div>
  <mat-card>Stats
  <form class="example-form spanem">
    <!-- Strength -->
    <div class="alignhalf">
      <mat-form-field class="example-full-width">
        <mat-label>Strength</mat-label>
        <span matPrefix>STR &nbsp;</span>
        <input type="tel" matInput placeholder="3D6 * 5" >
        <mat-icon matSuffix color="accent" (click)="$event">mode_edit</mat-icon>
      </mat-form-field>
      <mat-list role="list" class="alignhalf">
        <mat-list-item role="listitem">Hard:</mat-list-item>
        <mat-list-item role="listitem">Extreme:</mat-list-item>
        <button mat-icon-button  color="accent" aria-label="Example icon button with a vertical three dot icon" matTooltip="Info about the action">
          <mat-icon>more_vert</mat-icon>
        </button>
      </mat-list>
    </div>

    <!-- Constitution -->
    <div class="alignhalf">
    <mat-form-field class="example-full-width">
      <mat-label>Constitution</mat-label>
      <span matPrefix>CON &nbsp;</span>
      <input type="tel" matInput placeholder="3D6 * 5">
      <mat-icon matSuffix color="accent" (click)="$event">mode_edit</mat-icon>
    </mat-form-field>
    <mat-list role="list" class="alignhalf">
      <mat-list-item role="listitem">Hard:</mat-list-item>
      <mat-list-item role="listitem">Extreme:</mat-list-item>
      <button mat-icon-button color="accent" aria-label="Example icon button with a vertical three dot icon" matTooltip="Info about the action">
        <mat-icon>more_vert</mat-icon>
      </button>
    </mat-list></div>

    <!-- Size -->
    <div class="alignhalf">
    <mat-form-field class="example-full-width">
      <mat-label>Size</mat-label>
      <span matPrefix>SIZ &nbsp;</span>
      <input type="tel" matInput placeholder="(2D6 + 6) * 5">
      <mat-icon matSuffix color="accent" (click)="$event">mode_edit</mat-icon>
    </mat-form-field>
    <mat-list role="list" class="alignhalf">
      <mat-list-item role="listitem">Hard:</mat-list-item>
      <mat-list-item role="listitem">Extreme:</mat-list-item>
      <button mat-icon-button color="accent" aria-label="Example icon button with a vertical three dot icon" matTooltip="Info about the action">
        <mat-icon>more_vert</mat-icon>
      </button>
    </mat-list></div>

    <!-- Dexterity -->
    <div class="alignhalf">
    <mat-form-field class="example-full-width">
      <mat-label>Dexterity</mat-label>
      <span matPrefix>DEX &nbsp;</span>
      <input type="tel" matInput placeholder="3D6 * 5">
      <mat-icon matSuffix color="accent" (click)="$event">mode_edit</mat-icon>
    </mat-form-field>
    <mat-list role="list" class="alignhalf">
      <mat-list-item role="listitem">Hard:</mat-list-item>
      <mat-list-item role="listitem">Extreme:</mat-list-item>
      <button mat-icon-button color="accent" aria-label="Example icon button with a vertical three dot icon" matTooltip="Info about the action">
        <mat-icon>more_vert</mat-icon>
      </button>
    </mat-list></div>

    <!-- Appearance -->
    <div class="alignhalf">
    <mat-form-field class="example-full-width">
      <mat-label>Appearance</mat-label>
      <span matPrefix>APP &nbsp;</span>
      <input type="tel" matInput placeholder="3D6 * 5">
      <mat-icon matSuffix color="accent" (click)="$event">mode_edit</mat-icon>
    </mat-form-field>
    <mat-list role="list" class="alignhalf">
      <mat-list-item role="listitem">Hard:</mat-list-item>
      <mat-list-item role="listitem">Extreme:</mat-list-item>
      <button mat-icon-button color="accent" aria-label="Example icon button with a vertical three dot icon" matTooltip="Info about the action">
        <mat-icon>more_vert</mat-icon>
      </button>
    </mat-list></div>

    <!-- Intelligence -->
    <div class="alignhalf">
    <mat-form-field class="example-full-width">
      <mat-label>Intelligence</mat-label>
      <span matPrefix>INT &nbsp;</span>
      <input type="tel" matInput placeholder="(2D6 + 6) * 5">
      <mat-icon matSuffix color="accent" (click)="$event">mode_edit</mat-icon>
    </mat-form-field>
    <mat-list role="list" class="alignhalf">
      <mat-list-item role="listitem">Hard:</mat-list-item>
      <mat-list-item role="listitem">Extreme:</mat-list-item>
      <button mat-icon-button color="accent" aria-label="Example icon button with a vertical three dot icon" matTooltip="Info about the action">
        <mat-icon>more_vert</mat-icon>
      </button>
    </mat-list></div>

    <!-- Education -->
    <div class="alignhalf">
    <mat-form-field class="example-full-width">
      <mat-label>Education</mat-label>
      <span matPrefix>EDU &nbsp;</span>
      <input type="tel" matInput placeholder="(2D6 + 6) * 5">
      <mat-icon matSuffix color="accent" (click)="$event">mode_edit</mat-icon>
    </mat-form-field>
    <mat-list role="list" class="alignhalf">
      <mat-list-item role="listitem">Hard:</mat-list-item>
      <mat-list-item role="listitem">Extreme:</mat-list-item>
      <button mat-icon-button color="accent" aria-label="Example icon button with a vertical three dot icon" matTooltip="Info about the action">
        <mat-icon>more_vert</mat-icon>
      </button>
    </mat-list></div>

    <!-- Power -->
    <div class="alignhalf">
    <mat-form-field class="example-full-width">
      <mat-label>Power</mat-label>
      <span matPrefix>POW &nbsp;</span>
      <input type="tel" matInput placeholder="3D6 * 5">
      <mat-icon matSuffix color="accent" (click)="$event">mode_edit</mat-icon>
    </mat-form-field>
    <mat-list role="list" class="alignhalf">
      <mat-list-item role="listitem">Hard:</mat-list-item>
      <mat-list-item role="listitem">Extreme:</mat-list-item>
      <button mat-icon-button color="accent" aria-label="Example icon button with a vertical three dot icon" matTooltip="Info about the action">
        <mat-icon>more_vert</mat-icon>
      </button>
    </mat-list></div>

    <!-- Luck -->
    <div class="alignhalf">
    <mat-form-field class="example-full-width">
      <mat-label>Luck</mat-label>
      <span matPrefix>LUK &nbsp;</span>
      <input type="tel" matInput placeholder="(2D6 +6) * 5">
      <mat-icon matSuffix color="accent" (click)="$event">mode_edit</mat-icon>
    </mat-form-field>
    <mat-list role="list" class="alignhalf">
      <mat-list-item role="listitem">Hard:</mat-list-item>
      <mat-list-item role="listitem">Extreme:</mat-list-item>
      <button mat-icon-button color="accent" aria-label="Example icon button with a vertical three dot icon" matTooltip="Info about the action">
        <mat-icon>more_vert</mat-icon>
      </button>
    </mat-list></div>

  </form>
  </mat-card>
</div>
