
<button mat-button color="accent">
  <mat-icon aria-hidden="false" aria-label="Example home icon" class="icons">home</mat-icon>
</button>
<button mat-button color="accent">Characters</button>

<!--------------------------------------------------------------------------------------------------------------->
<div>
  <mat-horizontal-stepper linear #stepper>
    <!-- Gen stats -->
    <mat-step [editable]="false">
      <ng-template matStepLabel>Fill in your main stats</ng-template>

      <!-- Strength -->

      <div class="alignhalf">
        <mat-list role="list" class="alignhalf">
          <mat-list-item role="Listitem">
            <mat-form-field class="example-full-width">
              <mat-label>Strength</mat-label>
              <span matPrefix>STR &nbsp;</span>
              <input type="number" matInput placeholder="3D6 * 5" min="15" max="90" value="{{str}}" [(ngModel)]="str" [ngModelOptions]="{standalone: true}" (ngModelChange)="changestrength($event)">
            </mat-form-field>
          </mat-list-item>
          <mat-list-item role="listitem">Hard:{{ str / 2 | number:'1.0-0'}}</mat-list-item>
          <mat-list-item role="listitem">Extreme:{{ str / 5 | number:'1.0-0'}}</mat-list-item>
          <button mat-icon-button  color="accent" matTooltip="nothing to see here" >
            <mat-icon>help_outline</mat-icon>
          </button>
        </mat-list>
      </div>

      <!-- Constitution -->

      <div class="alignhalf">
        <mat-list role="list" class="alignhalf">
          <mat-list-item role="Listitem">
            <mat-form-field class="example-full-width">
              <mat-label>Constitution</mat-label>
              <span matPrefix>CON &nbsp;</span>
              <input type="number" matInput placeholder="3D6 * 5" min="15" max="90" value="{{con}}" [(ngModel)]="con" [ngModelOptions]="{standalone: true}" (ngModelChange)="changeconstitution($event)">
            </mat-form-field>
          </mat-list-item>
          <mat-list-item role="listitem">Hard:{{ con / 2 | number:'1.0-0'}}</mat-list-item>
          <mat-list-item role="listitem">Extreme:{{ con / 5 | number:'1.0-0'}}</mat-list-item>
          <button mat-icon-button  color="accent" matTooltip="Info about the action" >
            <mat-icon>help_outline</mat-icon>
          </button>
        </mat-list>
      </div>

      <!-- Size -->

      <div class="alignhalf">
        <mat-list role="list" class="alignhalf">
          <mat-list-item role="Listitem">
            <mat-form-field class="example-full-width">
              <mat-label>Size</mat-label>
              <span matPrefix>SIZ &nbsp;</span>
              <input type="number" matInput placeholder="(2D6 + 6) * 5" min="40" max="90" value="{{siz}}" [(ngModel)]="siz" [ngModelOptions]="{standalone: true}" (ngModelChange)="changesize($event)">
            </mat-form-field>
          </mat-list-item>
          <mat-list-item role="listitem">Hard:{{ siz / 2 | number:'1.0-0'}}</mat-list-item>
          <mat-list-item role="listitem">Extreme:{{ siz / 5 | number:'1.0-0'}}</mat-list-item>
          <button mat-icon-button  color="accent" matTooltip="Info about the action" >
            <mat-icon>help_outline</mat-icon>
          </button>
        </mat-list>
      </div>

      <!-- Dexterity -->

      <div class="alignhalf">
        <mat-list role="list" class="alignhalf">
          <mat-list-item role="Listitem">
            <mat-form-field class="example-full-width">
              <mat-label>Dexterity</mat-label>
              <span matPrefix>DEX &nbsp;</span>
              <input type="number" matInput placeholder="3D6 * 5" min="15" max="90" value="{{dex}}" [(ngModel)]="dex" [ngModelOptions]="{standalone: true}" (ngModelChange)="changedexterity($event)">
            </mat-form-field>
          </mat-list-item>
          <mat-list-item role="listitem">Hard:{{ dex / 2 | number:'1.0-0'}}</mat-list-item>
          <mat-list-item role="listitem">Extreme:{{ dex / 5 | number:'1.0-0'}}</mat-list-item>
          <button mat-icon-button  color="accent" matTooltip="Info about the action" >
            <mat-icon>help_outline</mat-icon>
          </button>
        </mat-list>
      </div>

      <!-- Appearance -->

      <div class="alignhalf">
        <mat-list role="list" class="alignhalf">
          <mat-list-item role="Listitem">
            <mat-form-field class="example-full-width">
              <mat-label>Appearance</mat-label>
              <span matPrefix>APP &nbsp;</span>
              <input type="number" matInput placeholder="3D6 * 5" min="15" max="90" value="{{appearance}}" [(ngModel)]="appearance" [ngModelOptions]="{standalone: true}" (ngModelChange)="changeappearance($event)">
            </mat-form-field>
          </mat-list-item>
          <mat-list-item role="listitem">Hard:{{ appearance / 2 | number:'1.0-0'}}</mat-list-item>
          <mat-list-item role="listitem">Extreme:{{ appearance / 5 | number:'1.0-0'}}</mat-list-item>
          <button mat-icon-button  color="accent" matTooltip="Info about the action" >
            <mat-icon>help_outline</mat-icon>
          </button>
        </mat-list>
      </div>

      <!-- Intelligence -->

      <div class="alignhalf">
        <mat-list role="list" class="alignhalf">
          <mat-list-item role="Listitem">
            <mat-form-field class="example-full-width">
              <mat-label>Intelligence</mat-label>
              <span matPrefix>INT &nbsp;</span>
              <input type="number" matInput placeholder="(2D6 + 6) * 5" min="40" max="90" value="{{int}}" [(ngModel)]="int" [ngModelOptions]="{standalone: true}" (ngModelChange)="changeintelligence($event)">
            </mat-form-field>
          </mat-list-item>
          <mat-list-item role="listitem">Hard:{{ int / 2 | number:'1.0-0'}}</mat-list-item>
          <mat-list-item role="listitem">Extreme:{{ int / 5 | number:'1.0-0'}}</mat-list-item>
          <button mat-icon-button  color="accent" matTooltip="Info about the action" >
            <mat-icon>help_outline</mat-icon>
          </button>
        </mat-list>
      </div>

      <!-- Education -->

      <div class="alignhalf">
        <mat-list role="list" class="alignhalf">
          <mat-list-item role="Listitem">
            <mat-form-field class="example-full-width">
              <mat-label>Education</mat-label>
              <span matPrefix>EDU &nbsp;</span>
              <input type="number" matInput placeholder="(2D6 + 6) * 5" min="40" max="90" value="{{edu}}" [(ngModel)]="edu" [ngModelOptions]="{standalone: true}" (ngModelChange)="changeeducation($event)">
            </mat-form-field>
          </mat-list-item>
          <mat-list-item role="listitem">Hard:{{ edu / 2 | number:'1.0-0'}}</mat-list-item>
          <mat-list-item role="listitem">Extreme:{{ edu / 5 | number:'1.0-0'}}</mat-list-item>
          <button mat-icon-button  color="accent" matTooltip="Info about the action" >
            <mat-icon>help_outline</mat-icon>
          </button>
        </mat-list>
      </div>

      <!-- Power -->

      <div class="alignhalf">
        <mat-list role="list" class="alignhalf">
          <mat-list-item role="Listitem">
            <mat-form-field class="example-full-width">
              <mat-label>Power</mat-label>
              <span matPrefix>POW &nbsp;</span>
              <input type="number" matInput placeholder="3D6 * 5" min="15" max="90" value="{{pow}}" [(ngModel)]="pow" [ngModelOptions]="{standalone: true}" (ngModelChange)="changepower($event)">
            </mat-form-field>
          </mat-list-item>
          <mat-list-item role="listitem">Hard:{{ pow / 2 | number:'1.0-0'}}</mat-list-item>
          <mat-list-item role="listitem">Extreme:{{ pow / 5 | number:'1.0-0'}}</mat-list-item>
          <button mat-icon-button  color="accent" matTooltip="Info about the action" >
            <mat-icon>help_outline</mat-icon>
          </button>
        </mat-list>
      </div>

      <!-- Luck -->

      <div class="alignhalf">
        <mat-list role="list" class="alignhalf">
          <mat-list-item role="Listitem">
            <mat-form-field class="example-full-width">
              <mat-label>Luck</mat-label>
              <span matPrefix>LUK &nbsp;</span>
              <input type="number" matInput placeholder="(2D6 + 6) * 5" min="40" max="90" value="{{luk}}" [(ngModel)]="luk" [ngModelOptions]="{standalone: true}" (ngModelChange)="changeluck($event)">
            </mat-form-field>
          </mat-list-item>
          <mat-list-item role="listitem">Hard:{{ luk / 2 | number:'1.0-0'}}</mat-list-item>
          <mat-list-item role="listitem">Extreme:{{ luk / 5 | number:'1.0-0'}}</mat-list-item>
          <button mat-icon-button  color="accent" matTooltip="Info about the action" >
            <mat-icon>help_outline</mat-icon>
          </button>
        </mat-list>
      </div>
      <button mat-icon-button color="accent" matTooltip="Generates random statistics" (click)="genall()"><mat-icon>casino</mat-icon></button>
      <button mat-button matStepperNext>Next</button>
    </mat-step>

    <!-- Age -->

    <mat-step [editable]="false">
      <ng-template matStepLabel>Select your age</ng-template>
      <div class="alignhalf">
        <mat-list role="list" class="alignhalf">
          <mat-list-item role="Listitem">
            <mat-form-field class="example-full-width">
              <span matPrefix>AGE &nbsp;</span>
              <input type="number" matInput min="15" max="90" [(ngModel)]="age" [ngModelOptions]="{standalone: true}" (ngModelChange)="changeage($event)">
            </mat-form-field>
          </mat-list-item>
          <button mat-icon-button  color="accent" matTooltip="nothing to see here" >
            <mat-icon>help_outline_outline</mat-icon>
          </button>
        </mat-list>
      </div>
      <button mat-button matStepperNext (click)="calculatevarstats()">Next</button>
    </mat-step>

    <!-- Occupations -->

    <mat-step [editable]="false">
      <ng-template matStepLabel>Select an occupation</ng-template>
      <form class="example-form">
        <mat-form-field class="example-full-width">
          <input type="text"
                 placeholder="Pick one"
                 aria-label="Number"
                 matInput
                 [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of options" [value]="option">
              {{option}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </form>
    </mat-step>
  </mat-horizontal-stepper>
</div>

<div>

  <!-- Variable stats -->

  <mat-card>
    <mat-list class="lineflex">
      <mat-list class="columnflex box">
        <mat-list-item role="listitem">Hit Points</mat-list-item>
        <mat-list class="lineflex">
          <button mat-icon-button  color="accent">
            <mat-icon>remove_circle_outline</mat-icon>
          </button>
          <mat-list-item>{{hp}}</mat-list-item>
          <button mat-icon-button  color="accent">
            <mat-icon>add_circle_outline</mat-icon>
          </button>
        </mat-list>
      </mat-list>
      <mat-divider [vertical]="true"></mat-divider>
      <mat-list>
        <mat-list-item role="listitem">Magic Points</mat-list-item>
        <mat-list class="lineflex">
          <button mat-icon-button  color="accent">
            <mat-icon>remove_circle_outline</mat-icon>
          </button>
          <mat-list-item>{{mp}}</mat-list-item>
          <button mat-icon-button  color="accent">
            <mat-icon>add_circle_outline</mat-icon>
          </button>
        </mat-list>
      </mat-list>
      <mat-divider [vertical]="true"></mat-divider>
      <mat-list>
        <mat-list-item role="listitem">Sanity</mat-list-item>
        <mat-list class="lineflex">
          <button mat-icon-button  color="accent">
            <mat-icon>remove_circle_outline</mat-icon>
          </button>
          <mat-list-item>{{san}}</mat-list-item>
          <button mat-icon-button  color="accent">
            <mat-icon>add_circle_outline</mat-icon>
          </button>
        </mat-list>
      </mat-list>
    </mat-list>
  </mat-card>
</div>
